html,body{
    width: 50%;
    margin: 0 auto;
    font-size: x-large;
    background-color: rgb(194, 221, 229);
    
}


.container{
    width: 360px;
}

h3{
    text-align: center;
}

#inputbox{
    width: 300px;
    height: 46px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middlex;
}
.btn{ 
    height: 49px;
    width: 48px;
    border: 1px solid black;
    font-size: 30px;
    
       
	
} 

.list{
    margin-top: 25px;
}
 

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
    display: list-item;
    list-style-type: circle;
    list-style-position: inside;
}
